body {
	background-color: black;
}

h1, h2 {
	color: #dbdbce;
	font-family: 'Changa One', cursive;
	font-size: 8vw;
	text-align: center;
	letter-spacing: 3px;
}
h2 {
	
}

img {
	width: 95%;
	max-width: 600px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

p {
	font-family: 'Muli', sans-serif;
	color: #dbdbce;
}

a {
	font-family: 'Muli', sans-serif;
	color: #dbdbce;
	font-style: italic;
	text-decoration: none;
	font-size: 0.6em;
}

#damage {

	width: 95%;
	max-width: 400px;
	display: block;
	margin: 20px auto;
	background-color: #00458a;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid #dbdbce;
	border-radius: 10px;
}

.emphasis {
	font-weight: bold;
	color: orange;
}

.red {
	color: red;
}

.turnBack {
	color: #dbdbce;
}