body {
	background-color: black;
}

h1, h2 {
	color: #dbdbce;
	font-family: 'Changa One', cursive;
	font-size: 8vw;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

img {
	width: 95%;
	max-width: 550px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#logo, h2, p {
	cursor: pointer;
}

p {
	font-family: 'Muli', sans-serif;
	color: #dbdbce;
}

a {
	font-family: 'Muli', sans-serif;
	color: #dbdbce;
	font-style: italic;
	text-decoration: none;
	font-size: 0.6em;
}

#damage {
	width: 95%;
	max-width: 600px;
	display: block;
	margin: 10px auto;
}

.emphasis {
	font-weight: bold;
	color: orange;
}

.orange {
	color: orange;
}

.turnBack {
	color: #dbdbce;
}